/* <link rel="stylesheet" href="./credits.css"> */
.credits {
    position: absolute;
    top: 1em;
    left: 1em;
    border: 0.2em solid grey;
    width: 200px;
  }
  .credits a,
  .credits ul,
  .credits li {
    text-decoration: none;
    list-style: none;
  }
  .credits ul {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 0;
  }
  .credits li {
    border: 1px solid grey;
    width: 100%;
  }
  .credits .visible {
    display: block;
  }