* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.key {
    display: flex;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;
    border: 0.1em solid black;
    margin: 0.4em;
    transition: border 0.1s;
    background-color: white;
}

.press {
    border: 0.2em solid yellow;
}

.credits {
    position: absolute;
    top: 1em;
    left: 1em;
    border: 0.2em solid grey;
    width: 200px;
    a,
    ul,
    li {
        text-decoration: none;
        list-style: none;
    }

    ul {
        display: none;
        position: absolute;
        background-color: white;
        z-index: 0;
    }

    li {
        border: 1px solid grey;
        width: 100%;
    }

    .visible {
        display: block;
    }
}