@import "_breakpoint_mixins.scss";

.about-container {
    width: 90%;
    margin: 0 auto;

    h1,
    h2 {
        text-align: center;
    }

    article {
        margin-bottom: 1vh;
        font-size: 3vw;
        @include for-bigger-phone {
            font-size: 3.7vw;
            margin-bottom: 1.4vh;
        }
        @include for-desktop-up {
            font-size: 2.5vw;
        }
    }

    section {
        text-align: center;

        img {
            @include for-bigger-phone {
                width: 200px;
                height: auto;
            }
            @include for-desktop-up {
                width: 300px;
            }
        }
    }
}