.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 98%;
  margin: 0 auto;
  padding: 45px;
  color: white;

  ul {
    list-style-type: circle;
  }

  pre {
    background: rgb(19, 19, 19);
  }

  blockquote p {
    color: whitesmoke;
  }

  a:link,
  a:visited {
    text-decoration: inherit;
    color: #189ad3;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}