$scrollbar-background-color: #525151;

main {
  scrollbar-width: thin;
  scrollbar-color: white #525151;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: #525151;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
    border: 3px solid #525151;
  }
}