body {
  background: grey; 
}

* {
  font-weight: bold;
  overflow: none;
  padding: 0.2em;
}

.display {
  border: solid;
  margin: 1em;
  padding: 0.1em;
  border-radius: 2em;
  background: white;
}

.mainCalc {
  border: solid;
  margin: 20em;  
  border-radius: 1em;
}

#result {
  font-size: 3em;
}

#chain {
  font-size: 1.5em;
}

button {
  width: 100%;
}